[submodule "rookit-player"]
	path = rookit-player
	url = https://github.com/JPDSousa/rookit-player.git
[submodule "rookit-core"]
	path = rookit-core
	url = https://github.com/JPDSousa/rookit-core.git
